//
//  Release.xcconfig
//  FindMyMasters
//
//  Created by Hasan Can Aslan on 9.12.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-FindMyMasters/Pods-FindMyMasters.release.xcconfig"

APP_NAME = Find My Masters
API_BASE_URL = http:#()localhost:3000
